<table>
    <tr>
    <td class="card">
        <img src="{{films[0].img}}" />
        <h1>{{films[0].title }} - {{films[0].year}} - {{films[0].score}}mdb </h1>
        <p>{{films[0].description}} </p>
        <button type="button" class="btn btn-primary">Primary</button>
    </td>

    <td>
        <img src="{{films[0].img}}" />
        <h1>{{films[0].title }} - {{films[0].year}} - {{films[0].score}}mdb </h1>
        <p>{{films[0].description}} </p>
    </td>
        
    <td>
        <img src="{{films[1].img}}" />
        <h1>{{films[1].title }} - {{films[1].year}} - {{films[1].score}}mdb </h1>
        <p>{{films[1].description}} </p>
    </td>

        
<td>
    <img src="{{films[2].img}}" />
        <h1>{{films[2].title }} - {{films[2].year}} - {{films[2].score}}mdb </h1>
        <p>{{films[2].description}} </p>
</td>
        
</tr>
        

   
</table>