<div style="position: relative;
top: -39px;">
  <div class="container">
    <div class="row">
      <div class="col">
        <div style="padding-top: -30px;

" class="card" style="border: none; height: 550px; padding: 10px; ">
          <button style="height: 60px; width: 100px; border: none; position: absolute;
top: -16px;
right: -50px;
" (click)="AddToFavrite(film.id)" class="jadore">
            ❤
          </button>

          <img alt="I will fix the image path :" [src]="getImageFromServer(film['backdrop_path'])"/>
          <!-- <h3>{{film.title }} - {{film.vote_averrage}}mdb </h3> -->
          <h3>{{film.title }}</h3>
          <p>{{film.overview }}</p>
          <!--    <br><br><br><br>-->
          <div style="height: 100px;"></div>

          <!-- <p>{{film.overview}} </p> -->
        </div>
      </div>
      <div class="col">
        <iframe [class.thumbnail]="thumbnail" [src]="safeSrc" width="660" height="415" frameborder="0" webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <app-comment [filmId]="filmId"></app-comment>
</div>
